<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div>
        <h1 class="text-center">Counter</h1>
        <p class="text-center">Customer visits to your site: {{ session['user_visit'] }}</p>
        <div class="text-center">
            <form method="POST">
                <input type="hidden" name="user_visit" value="{{ session['user_visit'] }}">
                <button type="submit" class="btn btn-primary">Increment one visit!</button>
            </form>
            <form method="POST">
                <input type="hidden" name="user_visit" value="0">
                <button type="submit" class="btn btn-secondary">Reset my visit</button>
            </form>
        </div>
    </div>
</body>
</html>

